<div class="well">
    lookout
    <div class="panel panel-default">

        <div class="panel-heading">
            {{item.title}}
            <div class="btn-group pull-left" style='margin-top:-5px;'>
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    כפתור קטן וחמוד <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>sex</li>
                    <li>sex</li>
                    <li>sex</li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <img ng-src="{{item.imageSource}}" style='width:100%' />
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">{{item.description}} <span class="label label-success pull-left">{{item.price}}$</span></li>
        </ul>

    </div>
</div>
