<div class="well" style='overflow:auto;'>
    <div style='width:65%; float:right'>
        <div class="page-header" style='margin-top:-8px'>
            <h1>הוספת הצעה חדשה <small>בהצלחה</small></h1>
        </div>
        <form class="form-horizontal beautifier" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputEmail3" ng-model="offer.title" placeholder="כותרת ההצעה">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" placeholder="כמה מילים על ההצעה שלך.." ng-model="offer.description" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-click="paymentTypeChanged(0)">בחינם
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" ng-click="paymentTypeChanged(1)" checked>בתשלום
                    </label>
                    <label class="radio-inline">
                        <input style='width:100px' ng-model="offer.price" class="form-control" ng-show="paymentType == true" id="inputEmail3" placeholder="מחיר בשקלים">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="form-control" id="filebutton" name="filebutton" class="input-file" ng-model="offer.imageSource" type="file">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-12">
                    <button type="submit" id="button1id" ng-click="addOffer()" name="button1id" class="btn btn-success">הוסף הצעה</button>
                    <button id="button2id" name="button2id" ng-click="cleanForm()" class="btn btn-danger">נקה שדות</button>
                </div>
            </div>
        </form>
    </div>

    <div style='width:30%; float:left;'>
        <div class="well" style='background: #efefef'>
            <b>אז מה עושים פה בעצם?</b>
            <br/>
            אז מה עושים פה בעצם?  אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
            אז מה עושים פה בעצם? אז מה עושים פה בעצם?<br/>
        </div>
    </div>
</div>
