﻿ <!-- Modal -->
<form name="add_question_form" ng-submit="ok()" novalidate>
    
    <div ng-show="errorOccured == false && inProgress == true && logged == true">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">הוסף שאלה עבור - {{title}}</h4>
        </div>

        <div class="modal-body">
            
            <div style="margin-bottom:20px;">
                
                <input type="text" class="form-control" name="titleInput" ng-model="newQuestion.Title" placeholder="כותרת השאלה" ng-minlength=3 required />

                <div class="error" ng-show="add_question_form.titleInput.$dirty && add_question_form.titleInput.$invalid">
                    <span class="label label-danger" ng-show="add_question_form.titleInput.$error.required">כותרת השאלה הינה שדה חובה</span>
                    <span class="label label-danger" ng-show="add_question_form.titleInput.$error.minlength">כותרת השאלה חייבת לכלול מעל ל3 תווים!</span>
                </div>

            </div>
            
            <div style="margin-bottom:20px;">
                
                <input type="text" class="form-control" name="askerInput" placeholder="שואל" ng-minlength=3 required />
                <!--add  ng-model="newQuestion.QuestionContent"-->
                <div class="error" ng-show="add_question_form.askerInput.$dirty && add_question_form.askerInput.$invalid">
                    <span class="label label-danger" ng-show="add_question_form.askerInput.$error.required">שם השואל הינו שדה חובה</span>
                    <span class="label label-danger" ng-show="add_question_form.askerInput.$error.minlength">שם השואל חייב לכלול מעל ל3 תווים!</span>
                </div>

            </div>
            
            <div style="margin-bottom:20px;">
                
                <textarea class="form-control" name="questionContentInput" ng-model="newQuestion.QuestionContent"  placeholder="תוכן השאלה" ng-minlength=3 required />

                <div class="error" ng-show="add_question_form.questionContentInput.$dirty && add_question_form.questionContentInput.$invalid">
                    <span class="label label-danger" ng-show="add_question_form.questionContentInput.$error.required">תוכן השאלה הינו שדה חובה</span>
                    <span class="label label-danger" ng-show="add_question_form.questionContentInput.$error.minlength">תוכן השאלה חייב לכלול מעל ל3 תווים!</span>
                </div>
                
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">בטל</button>
            <button type="submit" class="btn btn-primary" ng-disabled="add_question_form.$invalid">שמור שינויים</button>
        </div>

    </div>
</form>

<div ng-show="inProgress == false" style="text-align: center; padding: 20px;">
    <h3>השאלה נוספה בהצלחה!</h3>
</div>

<div ng-show="errorOccured == true" style="text-align: center; padding: 20px;color: red">
    <h3>אירעה שגיאה. המידע לא נשמר</h3>
</div>
    
<div ng-show="logged == false" style="text-align: center; padding: 20px;">
    <h3>אתה לא מחובר למערכת, אנא התחבר למערכת ונסה שנית.</h3>
    <button type="button" class="btn btn-default" ng-click="cancel()">צא</button>
</div>
    