﻿
 <!-- Modal -->
<form name="answer_question_form" ng-submit="ok()" novalidate>
    
    <div ng-show="errorOccured == false && inProgress == true && logged == true">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">ענה על השאלה- "{{question.Title}}"</h4>
        </div>

        <div class="modal-body">
            
            <div style="margin-bottom:20px;">
                
                <textarea type="text" class="form-control" name="answerInput" ng-model="question.Answer" placeholder="תשובה השאלה" ng-minlength=3 required />

                <div class="error" ng-show="answer_question_form.answerInput.$dirty && answer_question_form.answerInput.$invalid">
                    <span class="label label-danger" ng-show="answer_question_form.answerInput.$error.required">תשובה השאלה הינה שדה חובה</span>
                    <span class="label label-danger" ng-show="answer_question_form.answerInput.$error.minlength">תשובה השאלה חייבת לכלול מעל ל3 תווים!</span>
                </div>

            </div>
            
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">בטל</button>
            <button type="submit" class="btn btn-primary" ng-disabled="answer_question_form.$invalid">שמור שינויים</button>
        </div>

    </div>
</form>

<div ng-show="inProgress == false" style="text-align: center; padding: 20px;">
    <h3>התשובה נוספה בהצלחה!</h3>
</div>
    
<div ng-show="errorOccured == true" style="text-align: center; padding: 20px;color: red">
    <h3>אירעה שגיאה. המידע לא נשמר</h3>
</div>

<div ng-show="logged == false" style="text-align: center; padding: 20px;">
    <h3>אתה לא מחובר למערכת, אנא התחבר למערכת ונסה שנית.</h3>
    <button type="button" class="btn btn-default" ng-click="cancel()">צא</button>
</div>
    
    