<div style="margin-top: -10px">
    
    <div class="page-header items">
    <h1>מציעים <small>שלוש הצעות אחרונות</small></h1>
</div>

<div class="row" style='width:102.2%'>
    
    <div ng-show="offers == undefined" ng-hide="offers != undefined" class="being-loaded-message">
        <span><img src="images/loading.gif" />  המידע נטען  <img src="images/loading.gif" /></span>
    </div>

    <div class="col-sm-6 col-md-3 beautifer" ng-repeat="item in offers">
        <div class="thumbnail beautifer">
            <img src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" style="width:400px;height:200px">
            <div class="caption">
                <h3><a href="#/offers/{{item.Id}}" role="button" >{{item.Title}}</a></h3>
                <p>{{item.Description}}</p>
                <div class="modal-footer beautifier">
                    <!--<a href="#" ng-show="item.Price != 0" class="btn btn-default btn-sm" role="button">{{item.Price}}$</a>
                        <a href="#" ng-show="item.Price == 0" class="btn btn-default btn-sm" role="button">חינם</a> -->
                    <div class="row-fluid">
                        <div class="span4"><b>הועלה</b><br/><small>5 באוגוסט</small></div>
                        <div class="span4"><b>תל אביב</b><br/><small>מיקום</small></div>
                        <div class="span4"><b>250$</b><br/><small>עלות</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="page-header items">
    <h1>מחפשים <small>שלושת מחפשים אחרונים</small></h1>
</div>

<div class="row" style='width:102.2%'>
    <div ng-show="lookers == undefined" ng-hide="lookers != undefined" class="being-loaded-message">
        <span><img src="images/loading.gif" />  המידע נטען  <img src="images/loading.gif" /></span>
    </div>
    <div class="col-sm-6 col-md-3 beautifer" ng-repeat="item in lookers">
        <div class="thumbnail beautifer">
            <img src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg">
            <div class="caption">
                <h3><a href="#/lookouts/{{item.Id}}" role="button" >{{item.Title}}</a></h3>
                <p>{{item.Description}}</p>
                <div class="modal-footer beautifier">
                    <!--<a href="#" ng-show="item.Price != 0" class="btn btn-default btn-sm" role="button">{{item.Price}}$</a>
                        <a href="#" ng-show="item.Price == 0" class="btn btn-default btn-sm" role="button">חינם</a> -->
                    <div class="row-fluid">
                        <div class="span4"><b>הועלה</b><br/><small>5 באוגוסט</small></div>
                        <div class="span4"><b>תל אביב</b><br/><small>מיקום</small></div>
                        <div class="span4"><b>250$</b><br/><small>עלות</small></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>