<div class="well" style='overflow:auto;'>

    <div ng-show="itemNotFound == true" ng-hide="itemNotFound == false" class="information-could-not-be-found-message">
        <span> 404# - לא הצלחנו למצוא את ההצעה שחיפשת. מצטערים.</span>
    </div>
    
    <div ng-show="itemNotFound == false && item == undefined" ng-hide="itemNotFound == true  && item != undefined" class="being-loaded-message">

        <span><img src="images/loading.gif" />  המידע נטען  <img src="images/loading.gif" /></span>

    </div>

    <div ng-show="itemNotFound == false && item != undefined" ng-hide="item == undefined">

        <div class="panel panel-default pull-right" style="width:70%">
            <div class="panel-heading">
                {{item.Title}}
                <div class="btn-group pull-left" style='margin-top:-5px;'>
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                        כפתור קטן וחמוד <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>sex</li>
                        <li>sex</li>
                        <li>sex</li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div style='float:left; width:50%'>
                    <img ng-src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" style='width:100%' />
                </div>
                <div style='float:right; width:50%'>
                    <div class="panel panel-success" style='width:98%;padding:10px;'>
                        {{item.Description}}
                    </div>
                </div>
            </div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">יוצר ההצעה: {{item.Creator}}<span class="label label-success pull-left">{{item.Price}}$</span></li>
            </ul>
        </div>

        <div class="pull-left" style='width:29%'>
            <h4>הצעות נוספות</h4>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h3><img style='padding:5px;font-weight:bold;' src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" width="50"/>ארון מצעים למכירה <span class="label label-default">300$</span></h3>
                </a>
                <a href="#" class="list-group-item">
                    <h3><img style='padding:5px;font-weight:bold;' src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" width="50"/>ארון מצעים למכירה <span class="label label-default">300$</span></h3>
                </a>
                <a href="#" class="list-group-item">
                    <h3><img style='padding:5px;font-weight:bold;' src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" width="50"/>ארון מצעים למכירה <span class="label label-default">300$</span></h3>
                </a>
                <a href="#" class="list-group-item">
                    <h3><img style='padding:5px;font-weight:bold;' src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg" width="50"/>ארון מצעים למכירה <span class="label label-default">300$</span></h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-show="itemNotFound == false && item != undefined" ng-hide="item == undefined">
           
           <div ng-controller="QuestionsController">
            
        <hgroup class="mb20">
            <h1>שאלות ותשובות ({{questions.length}})</h1>
        </hgroup>

        <h2><span class="label label-default" ng-show="questions.length == 0" ng-hide="questions.length > 0">אין כרגע שאלות</span></h2>
    
        <div ng-repeat="question in questions | orderBy:'-DatePosted'" style="text-align: right">
            <div style="word-wrap: break-word " class="alert alert-success" ng-show="question.Answer != ''">
                <h5>שאלה: <b>{{question.Title}} ({{ question.DatePosted | date:'dd/MM/yyyy, HH:mm:ss'}})</b> - {{question.QuestionContent}}</h5>
                <h6><b>תשובת המציע:</b> {{question.Answer}}</h6>
            </div>
        
            <div class="alert alert-danger"  ng-show="question.Answer == undefined || question.Answer == ''">
                <h5>שאלה: <b>{{question.Title}} ({{ question.DatePosted | date:'dd/MM/yyyy, HH:mm:ss'}})</b> - {{question.QuestionContent}}</h5>
                <h6><b>עדיין אין תשובה לשאלה זאת.</b></h6>
                <a class="btn btn-danger btn-sm" ng-hide="isItemCreatorIsTheCurrentUser() == false" ng-show="isItemCreatorIsTheCurrentUser() == true" ng-click="showAnswerQuestionModal(question)">ענה על השאלה!</a>
            </div>
        </div>

        <br/>

        <a class="btn btn-primary btn-lg" ng-click="showAddQuestionModal(item.Title)">הוסף שאלה</a>
    </div>
 
</div>
