﻿<div ng-show="isLoginSuccssed == true" ng-hide="isLoginSuccssed == false">
        <div style="width: 100%; text-align: center" class="being-loaded-message">
        <span><img src="images/loading.gif" />  ההתחברות בוצעה בהצלחה, אתה מועבר לדף הבית  <img src="images/loading.gif" /></span>
    </div>
</div>
<div ng-show="isLoginSuccssed == false">
    <div class="well pull-right" style="overflow:auto;width: 27%;" >
    
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>התחברות</b> 
            </div>
        </div>
        <div class="panel-body" style="padding: 0px; text-align: center">
            <form name="login_form" ng-submit="login()" novalidate>
                <div style="margin-bottom:20px;">
                    <input type="text"
                           class="form-control"
                           name="loginUserNameInput"
                           ng-model="loginUser.username"
                           placeholder="שם משתמש"
                           ng-minlength=3
                           required />
                    <div class="error" ng-show="login_form.loginUserNameInput.$dirty && login_form.loginUserNameInput.$invalid">
                        <span class="label label-danger" ng-show="login_form.loginUserNameInput.$error.required">שם המשתמש הינו שדה חובה</span>
                        <span class="label label-danger" ng-show="login_form.loginUserNameInput.$error.minlength">שם משתמש אינו יכול להיות קצר משלושה תווים</span>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <input type="password"
                           class="form-control"
                           name="loginPasswordInput"
                           ng-model="loginUser.password"
                           placeholder="סיסמה"
                           ng-minlength=3
                           required />
                    <div class="error" ng-show="login_form.loginPasswordInput.$dirty && login_form.loginPasswordInput.$invalid">
                        <span class="label label-danger" ng-show="login_form.loginPasswordInput.$error.required">סיסמה הינה שדה חובה</span>
                        <span class="label label-danger" ng-show="login_form.loginPasswordInput.$error.minlength">הסיסמה חייבת להיות ארוכה משלושה תווים</span>
                    </div>
                </div>
            
                <img style="margin-bottom:20px;" src="https://www.dnnsoftware.com/portals/0/Images/DNN/login.png" width="60%"/>

                <div style="margin-bottom:20px;">
                    <input type="submit" class="btn btn-success" ng-disabled="login_form.$invalid" value="התחבר בכל הכוח" />
                </div>
                
                <div ng-show="isLoginFailed == true" style="font-weight: bold; color: red">ההתחברות נכשלה. אנא בדוק שוב את פרטי ההתחברות.</div>
            </form>
        </div>
    
    </div>


    <div class="well pull-left" style='overflow:auto;width: 70%'>
    
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>הרשמה</b>
            </div>
        </div>
        <div class="panel-body" style="padding: 0px">
            באמת? מה אתה ילד? אתה עדיין לא רשום? חוצפה. יאללה. הגיע הזמן.
        
            <form name="register_form" ng-submit="register()" novalidate>
                <div style="margin-bottom:20px;margin-top:20px;">
                    <input type="text"
                           class="form-control"
                           name="registerUsernameInput"
                           ng-model="registerUser.username"
                           placeholder="שם משתמש"
                           ng-minlength=3
                           required />

                    <div class="error" ng-show="register_form.registerUsernameInput.$dirty && register_form.registerUsernameInput.$invalid">
                        <span class="label label-danger" ng-show="register_form.registerUsernameInput.$error.required">שם המשתמש הינו שדה חובה</span>
                        <span class="label label-danger" ng-show="register_form.registerUsernameInput.$error.minlength">שם המשתמש חייב להכיל יותר משלושה תווים</span>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <input type="password"
                           class="form-control"
                           name="registerPasswordInput"
                           id="registerPasswordInput"
                           ng-model="registerUser.password"
                           placeholder="סיסמה"
                           ng-minlength=3
                           required />    
                
                    <div class="error" ng-show="register_form.registerPasswordInput.$dirty && register_form.registerPasswordInput.$invalid">
                        <span class="label label-danger" ng-show="register_form.registerPasswordInput.$error.required">הסיסמה הינה שדה חובה</span>
                        <span class="label label-danger" ng-show="register_form.registerPasswordInput.$error.minlength">הסיסמה חייבת להכיל שלושה תווים לפחות</span>
                    </div>
                </div>
             
                <div style="margin-bottom:20px;">
                    <input type="password"
                           class="form-control"
                           name="registerConfimPasswordInput"
                           ng-model="registerUser.secondPassword"
                           placeholder="סיסמה בשנית"
                           ng-minlength=3
                           pw-check="registerPasswordInput"
                           required />
                
                    <div class="error" ng-show="register_form.registerConfimPasswordInput.$dirty && register_form.registerConfimPasswordInput.$invalid">
                        <span class="label label-danger" ng-show="register_form.registerConfimPasswordInput.$error.required">הסיסמה הינה שדה חובה</span>
                        <span class="label label-danger" ng-show="register_form.registerConfimPasswordInput.$error.minlength">הסיסמה חייבת להכיל שלושה תווים לפחות</span>
                        <span class="label label-danger" ng-show="register_form.registerConfimPasswordInput.$error.pwmatch">הסיסמה ואימותה צריכות להיות זהות!</span>
                    </div>
                </div>
             
                <div style="margin-bottom:20px;">
                    <input type="email"
                           class="form-control"
                           name="registerEmailInput"
                           ng-model="registerUser.email"
                           placeholder="דוא'ל"
                           required /> 
                
                    <div class="error" ng-show="register_form.registerEmailInput.$dirty && register_form.registerEmailInput.$invalid">
                        <span class="label label-danger" ng-show="register_form.registerEmailInput.$error.required">כתובת הדוא"ל הינה שדה חובה</span>
                        <span class="label label-danger" ng-show="register_form.registerEmailInput.$error.email">אנא הקש כתובת דוא"ל תקינה!</span>
                    </div>
                </div>

                <div style="margin-bottom:20px;">
                    <input type="submit" ng-disabled="register_form.$invalid" class="btn btn-success" value="הרשם באהבה או שאל תרשם בכלל"/>
                </div>
                
                 <div ng-show="isRegistrationSuccssed == true" ng-hide="isRegistrationSuccssed == false" style="font-weight: bold; color: green">ההרשמה בוצעה בהצלחה. אתה מוזמן להתחבר לאתר פה בצד ימין.</div>
                 <div ng-show="isRegistrationFailed == true"  ng-hide="isRegistrationFailed == false" style="font-weight: bold; color: red">ההרשמה נכשלה. אנא החלף שם משתמש ונסה שנית.</div>

            </form>
        </div>
    
    </div>
    
</div>