﻿<div>
    <hgroup class="mb20">
        <h1>חיפוש
            <span style="color: teal; font-size: 16px">
                <b>החיפוש הנוכחי:</b>
                <span  class="label label-info" style="margin: 8px; font-size: 14px" ng-repeat="option in oldOptionsTitles | emptyToStringFilter">
                    {{ option.toString() }}
                </span>
                <span ng-show="oldOptionsTitles.length == 0" class="label label-warning" style="margin: 8px; font-size: 14px">
                    כרגע אין חיפוש. אנא הרץ שאילתא כדי לקבל מידע.
                </span>
            </span>
        </h1>
    </hgroup>
    
    <div class="row" id="itemsBox"  style="float: left;width: 75%; margin-left: 2px; border: 0px solid black">
    
        <div style="overflow: auto">
            <div ng-hide="oldOptionsTitles.length != 0" style="margin-left: auto;margin-right: auto; font-weight: bold; font-size: 16px;">
                <img src="http://epmpire.files.wordpress.com/2013/05/cogs.gif" />
                הרץ שאילתה באמצעות הטופס בצד ימין.
            </div>

            <div ng-show="noItemsFound == true && oldOptionsTitles.length != 0" ng-hide="noItemsFound == false || oldOptionsTitles.length == 0" style="margin-left: auto;margin-right: auto; font-weight: bold; font-size: 16px;">
                <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Smile-sad.svg/512px-Smile-sad.svg.png" />
                שמע בויה. לא מצאנו שום מודעה שמתאימה לך.
            </div>

            <div class="col-sm-6 col-md-4 beautifer" ng-repeat="item in items" scroll-to-end>
                <div class="thumbnail beautifer">
                    <img src="http://www.extremetech.com/wp-content/uploads/2012/12/Audi-A1.jpg">
                    <div class="caption">
                        <h3><a href="#/offers/{{item.Id}}" role="button" >{{item.Title}}</a></h3>
                        <p>{{item.Description}}</p>
                        <div class="modal-footer beautifier">
                            <!--<a href="#" ng-show="item.Price != 0" class="btn btn-default btn-sm" role="button">{{item.Price}}$</a>
                                <a href="#" ng-show="item.Price == 0" class="btn btn-default btn-sm" role="button">חינם</a> -->
                            <div class="row-fluid">
                                <div class="span4"><b>הועלה</b><br/><small>5 באוגוסט</small></div>
                                <div class="span4"><b>תל אביב</b><br/><small>מיקום</small></div>
                                <div class="span4"><b>{{item.Price}}$</b><br/><small>עלות</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
        
        </div>
        
        <div>
            <div style="width: 100%; text-align: center" ng-show="isFetchingItems == false && noMoreItems == false && items.length > 0" ng-hide="isFetchingItems == true || noMoreItems == true ||  items.length == 0">
                <button ng-click="fetchMoreItems()" class="btn btn-warning">הבא עוד תוצאות</button>
            </div>
        
            <div style="width: 100%; text-align: center" ng-show="isFetchingItems == true" ng-hide="isFetchingItems == false" class="being-loaded-message">
                <span><img src="images/loading.gif" />  המידע נטען  <img src="images/loading.gif" /></span>
            </div>

            <div style="width: 100%; text-align: center" ng-show="noMoreItems == true" ng-hide="noMoreItems == false" class="being-loaded-message">
                <span><img src="images/sadsmiley.gif" />  אין עוד מידע מוחהחה  <img src="images/sadsmiley.gif" /></span>
            </div>
        </div>
    </div>
    
    

    <div style="float:right;width: 25%;">
        
        <div  class="label label-default searchBox" style="margin-right: 2px; overflow: hidden;">

            <span class="glyphicon glyphicon-search pull-right"></span>
            אני מחפש...
       

            <div  style="margin-right: 2px; overflow: hidden;">

                <a class="label label-default search"
                   href=""
                   ng-click="options.isOffersOption.included = !options.isOffersOption.included"
                   ng-class="{'blue': options.isOffersOption.included == true}">
                    <span class="glyphicon glyphicon-plus pull-right" ng-class="{'glyphicon-minus': options.isOffersOption.included == true}"></span>
                    <span>גם מודעות מכירה</span>
                </a>
            
                <div ng-show="options.isOffersOption.included == true" class="blue" style="overflow: hidden; margin-top:55px;border-radius: 5px; padding: 10px;  color: white; font-size: 14px; font-weight: bold;">
                    תוצאות החיפוש יכללו מודעות מכירה
                </div>

            </div>

            <div  style="margin-right: 2px; overflow: hidden;">

                <a class="label label-default search"
                   href=""
                   ng-click="options.isLookoutsOption.included = !options.isLookoutsOption.included"
                   ng-class="{'orange': options.isLookoutsOption.included == true}">
                    <span class="glyphicon glyphicon-plus pull-right" ng-class="{'glyphicon-minus': options.isLookoutsOption.included == true}"></span>
                    <span>גם מודעות חיפוש</span>
                </a>
            
                <div ng-show="options.isLookoutsOption.included == true"  class="orange" style="overflow: hidden; margin-top:55px;border-radius: 5px; padding: 10px;  color: white; font-size: 14px; font-weight: bold;">
                    תוצאות החיפוש יכללו מודעות חיפוש
                </div>
            </div>  
            
            <div style="margin-right: 2px; overflow: hidden;">
                <a class="label label-default search"
                   href=""
                   ng-click="options.startingPriceOption.included = !options.startingPriceOption.included"
                   ng-class="{'green': options.startingPriceOption.included == true}">
                    <span class="glyphicon glyphicon-plus pull-right" ng-class="{'glyphicon-minus': options.startingPriceOption.included == true}"></span>
                    <span>ממחיר</span>
                </a>
            
                <div ng-show="options.startingPriceOption.included == true" class="green" style="overflow: hidden; margin-top:55px;border-radius: 5px; padding: 10px;  color: white; font-size: 14px; font-weight: bold;">
                    <input class="form-control" ng-model="options.startingPriceOption.startingPrice" style="border: 0px; margin: 1px;" placeholder="החל ממחיר.." type="number"/>
                    שמחירן עולה על- 
                    {{options.startingPriceOption.startingPrice}}
                    ש"ח
                </div>
            </div>

            <div  style="margin-right: 2px; overflow: hidden;">
           
                <a class="label label-default search"
                   href=""
                   ng-click="options.limitPriceOption.included = !options.limitPriceOption.included"
                   ng-class="{'red': options.limitPriceOption.included == true}">
                    <span class="glyphicon glyphicon-plus pull-right" ng-class="{'glyphicon-minus': options.limitPriceOption.included == true}"></span>
                    <span>עד מחיר</span>
                </a>

                <div ng-show="options.limitPriceOption.included == true"  class="red" style="overflow: hidden; margin-top:55px;border-radius: 5px; padding: 10px;  color: white; font-size: 14px; font-weight: bold;">
                    <input class="form-control" ng-model="options.limitPriceOption.limitPrice" style="border: 0px; margin: 1px;" placeholder="עד מחיר.." type="number"/>
                    והמחיר הוא עד- 
                    {{options.limitPriceOption.limitPrice}}
                    ש"ח
                </div>
            </div>
        
            <div  style="margin-right: 2px; overflow: inherit;">
           
                <a class="label label-default search"
                   href=""
                   ng-click="options.tagsOption.included = !options.tagsOption.included"
                   ng-class="{'lightslategray': options.tagsOption.included == true}">
                    <span class="glyphicon glyphicon-plus pull-right" ng-class="{'glyphicon-minus': options.tagsOption.included == true}"></span>
                    <span>שמקושרים לתגים</span>
                </a> 
        
                <div ng-show="options.tagsOption.included == true" class="lightslategray" style=" margin-top:55px;border-radius: 5px; padding: 10px;  color: white; font-size: 14px; font-weight: bold;">
                    <input type="text" id="demo-input" name="blah" />
                </div>
                
               
            </div>
        

            <button class="btn btn-primary btn-lg" style="margin-left:auto;margin-right: auto; width: 100%;margin-top: 10px" ng-click="search()">הרץ חיפוש</button>
        </div>

    </div>

</div>
