</div>
<div style='width:100%;' ng-hide="isHomePage == false" ng-show="isHomePage == true">
    <div id="site-container-inside">
        <div class="well beautifer" style='float:right;width:65%;'>
            <span><b>
                אז, מה זה אתר הזה
                ?</b>
            </span>
            <span>
                אופסירץ' מאפשר לכם המשתמשים לנהל משא ומתן בדיוק כמו שהוא אופל משא ומתן בחינם או בכסף, ואתם יכולים לראות. מעבר לזה, אנשים
                אופסירץ' מאפשר לכם המשתמשים לנהל משא ומתן בדיוק כמו שהוא אופל משא ומתן בחינם או בכסף, ואתם יכולים לראות. מעבר.
            </span>
        </div>

        <div style='float:left;width:35%;'>
             <div id="home-page-main-buttons">
                 <div class="btn-group beautifer">
                     <button type="button" class="btn btn-success btn-small" onclick="location.href='#/add/lookout'">אני מחפש</button>
                 </div>
                 <div class="btn-group beautifer">
                     <button type="button" class="btn btn-primary btn-small" onclick="location.href='#/add/offer';">אני מציע</button>
                 </div>
             </div>
        </div>
    </div>
</div>