<div class="topBar">
    <div id="site-size">
        <div class="header beautifer pull-right">
            <a href="#">לוגו על</a>
        </div>
        <div class="pull-left">
            <ul class="mainMenu">
                <li ng-show="userLogged == undefined" ng-hide="userLogged != undefined"><a href="#/login">#ברוך הבא, אורח</a></li>
                <li ng-show="userLogged != undefined" ng-hide="userLogged == undefined"><a href="#" ng-click="logout()">התנתק</a></li>
                <li ng-show="userLogged != undefined" ng-hide="userLogged == undefined"><a href="#/membership">#ברוך הבא, {{userLogged}}</a></li>
                <li><a href="#/search/offers">#הצעות</a></li>
                <li><a href="#/search/lookouts">#מחפשים</a></li>
                <!--<li class="search-top-bar">
                    <div dir="RTL" class="pull-right" style="margin-top: -1px;">
                        <div class="icon-addon addon-sm">
                            <input type="text" placeholder="חיפוש" class="form-control" style="border: 0px;" id="Text1">
                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>

