﻿<div>
    <hgroup class="mb20">
        <h1>אינך יכול לגשת לדף זה</h1>
    </hgroup>

    <h2><span class="label label-default">
            לצערינו, אין לך הרשאות על מנת לראות דף זה. במידה ואינך מחובר, אנא 
            <a style="color: white; text-decoration: underline" ng-click="moveToLogin()" href="">התחבר</a>
         למערכת.
        </span></h2>
    
    <br/>
</div>