@font-face {
    font-family: 'OpenSansHebrew';
    s1rc: url('fonts/simpleclm/simpleclm-bold-webfont.ttf');
}

@font-face {
    font-family: 'OpenSansHebrew-Bold';
    s1rc: url('fonts/opensanshebrew/OpenSansHebrew-Bold.ttf');
}

html body {
   min-height: 100%;
}

body
{
	font-size:14px;
	font-family: arial;
	background: -webkit-linear-gradient(#e7e7e7, #cfcfcf); /* For Safari */
	background: -o-linear-gradient(#e7e7e7 #cfcfcf); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e7e7e7, #cfcfcf); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#d7d7d7, #cecece); /* Standard syntax */
	background-repeat:no-repeat !important;
	min-height: 100%;
}

.full-site-container {
    
}

.topBar
{
	width:100%;margin-left:auto;margin-right:auto; height:110px;
    padding:1px;
	background: -webkit-linear-gradient(#2eb2ba, #33b6be); /* For Safari */
	background: -o-linear-gradient(#2eb2ba, #33b6be); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2eb2ba, #33b6be); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2eb2ba, #33b6be); /* Standard syntax */
	border-bottom:10px solid #18969e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#site-size {
	width: 95%;
	height:50%;
	margin-left:auto;
	margin-right: auto;
}

.site-top-bar {
        width: 100%;
}

#site-footer {
}

#site-container-outside {
    width: 70%;
    margin-left: Auto;
    margin-right: auto;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #cdcdcd;
}

#site-container-inside {
	height: 100px;
	width: 97.5%;
	/*width:1340px;*/
	margin-left:auto;
	margin-right: auto;
	text-align: right;
    margin-top: 10px;
}

#site-container-main{
	padding: 15px;
    	margin-left:auto;
	margin-right: auto;
    	width: 100%;
}

#home-page-main-buttons {
	width: 100%;
	background: blue;
	text-align: right;
}

.page-header.items
{
	border: 0px;
	color: #FFF;
	margin:0px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 15px;
	background: #262626;
}

.page-header.items small
{
	color: white;
}

.page-header.items h1
{
	font-family: 'Tahoma';
	color:#FFF;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}

.header
{
	border:0px;
	font-family: 'Tahoma';
	font-size: 42px;
	color:white;
	position: relative;
	top:40px;
	text-decoration: none;
}

.header.beautifer a
{
	color:#fff;
}

.header.beautifer a:hover
{
	text-decoration: none;
}

.well.beautifer {
    background: #efefef;
    color: #543100;
    margin-top: 16px;
       padding-top: 18px;
    height: 80px;
    margin-right: auto;
}

#search-types-button{
	margin-right:11px;
}

.btn-group.beautifer {
	margin-right: 10px;
	width: 45.5%;
	float: left;
}

.btn-group.beautifer button {
	font-family: 'Arial';
	font-size: 20px;
	margin-top: 15px;
	margin-right: 5px;
	padding-top: 25px;
	padding-bottom: 29px;
	font-weight: bold;
	width: 100%;
    height: 80px;
}

.btn-group.beautifer button2 {
	font-family: 'Arial';
	font-size: 20px;
	font-weight: bold;
}


.btn-group.beautifer input {
	height: 42px;
	padding-right: 36px;
	margin-right: 15px;
	width: 98%;
	font-size: 16px;
}

.row.beautifer
{
	text-align: right;
	margin-top: 15px;
}

.btn.btn-default.beautifer
{
	font-size:14px;
}
.btn.btn-warning.beautifer
{
	font-size:14px;
}

.col-sm-6.col-md-3.beautifer
{
	
}

.thumbnail.beautifer
{
}

/* Here comes some validations style */

.error {
	color:red;
	font-size: 14px;
	border-radius:5px;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}


/* end validation */

.mainMenu {
	list-style-type:none;
}
.mainMenu li{
	float:left;
	margin-left:10px;
    background: #18969e;
	padding: 10px;
	font-size: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	position: relative;
	top: 60px;
    font-family: 'Arial';
	/* this shit is cool! */
	-webkit-transition-property:top, position,font-size; 
	-webkit-transition-duration: 0.1s, 0.1s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.mainMenu li:hover{
	background: -webkit-linear-gradient(#6DCAD6, #5EBFCC); /* For Safari */
	background: -o-linear-gradient(#6DCAD6, #5EBFCC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#6DCAD6, #5EBFCC); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#239197, #18969e); /* Standard syntax */
	font-size: 17px;
	position: relative;
	top: 58px;
	-webkit-transition-property:top, position,font-size; 
	-webkit-transition-duration: 0.1s, 0.1s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.mainMenu a{
	color:#fff;
    font-family: 'Arial';
    font-weight: bold;
    text-decoration: none;
}


/*FORM */

.form-horizontal.beautifier input[type="text"]
{
	padding: 30px;
}

.form-horizontal.beautifier textarea
{
	padding: 30px;
}

.form-horizontal.beautifier button
{
	width: 49.65%;
	font-weight:bold;
	font-size: 16px;
	padding: 10px;
}

/* Items Are Being Loaded Message*/

.being-loaded-message {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.information-could-not-be-found-message {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* search top bar */

.search-top-bar {
}

.search-top-bar:hover {
    border-bottom: 4px solid #679BB5;
    -webkit-transition-property:border-bottom; 
	-webkit-transition-duration: 0.1s, 0.01s; 
	-webkit-transition-timing-function: linear, ease-in;
}

.custom-search-form{
    margin-top:5px;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

/*end*/

.modal-footer.beautifier {
    background: #efefef;
    text-align: right;
    border-top: 0px;
}

/* search Page */
.mb20 { margin-bottom: 20px;padding-right: 10px;padding-top: 10px;} 
hgroup { padding-left: 15px; border-bottom: 1px solid #ccc;overflow: auto;padding-bottom: 10px;}
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.60; font-weight: bold}
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }


.searchBox {
    font-size: 14px;
    float: left;
    width: 100%;
    padding: 15px;
    color: #4e727c;
    background: -webkit-linear-gradient(#dddddd, #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dddddd, #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dddddd, #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dddddd, #efefef); /* Standard syntax */
}

.search {
    font-size: 14px;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: -webkit-linear-gradient(gray, #a2a2a2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gray, #a2a2a2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gray, #a2a2a2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(gray, #a2a2a2); /* Standard syntax */
}

    .search:hover {
        opacity: 0.9;
    }

    .search:active {
        background: yellowgreen;
    }

.green {
    background: -webkit-linear-gradient(yellowgreen, #a7dc3c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(yellowgreen, #a7dc3c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(yellowgreen, #a7dc3c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(yellowgreen, #a7dc3c); /* Standard syntax */
}

.red {
    background: -webkit-linear-gradient(lightcoral, #f99191); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightcoral, #f99191); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightcoral, #f99191); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightcoral, #f99191); /* Standard syntax */
}


.blue {
    background: -webkit-linear-gradient(lightseagreen, #2fc4bc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightseagreen, #2fc4bc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightseagreen, #2fc4bc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightseagreen, #2fc4bc); /* Standard syntax */
}

.orange {
    background: -webkit-linear-gradient(orange, #ffbe47); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(orange, #ffbe47); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(orange, #ffbe47); /* For Firefox 3.6 to 15 */
    background: linear-gradient(orange, #ffbe47); /* Standard syntax */
}

.lightslategray {
    background: -webkit-linear-gradient(lightslategray, #8f9faf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightslategray, #8f9faf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightslategray, #8f9faf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightslategray, #8f9faf); /* Standard syntax */
}

.gray {
    background: -webkit-linear-gradient(#3e677c, #517e95); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3e677c, #517e95); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3e677c, #517e95); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3e677c, #517e95); /* Standard syntax */
}
