﻿<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script type="text/javascript">
      
    function PostComplexType() {
        var loginRequest = new LoginUserRequest("Amits", "Password");
        $.ajax({
            url: "http://localhost:36938/api/membership/login",
            data: {
                "Username": "Amits",
                "Password": "1234"
            },
            type: "POST",
            success: SendComplexTypeCallBack,
            error: whatError
        });
    }
    
    function SendComplexTypeCallBack(data) {
        console.log(data);
        var d2 = new Date();
        var n2 = d2.getTime();
        console.log((n2 - n1) / 1000);
    }
    

    function whatError(parameters) {
        console.log(parameters);
    }
    
    function LoginUserRequest(username, password) {
        var self = this;
        self.Username = username;
        self.Password = password;
    }
    var d1 = new Date();
    var n1 = d1.getTime();
    PostComplexType();
    
</script>